certifi
dj-database-url
Django
django-ckeditor
django-heroku
django-rest-framework
djangorestframework
gunicorn
pathlib2
Pillow
psycopg2-binary
Pyrebase
pytz
requests
sqlparse
urllib3
virtualenv
whitenoise