.loader-overlay{
    top: -30px;
    left: 0;
    overflow: hidden;
    position: absolute;
    height: 110%;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
}
.loader-overlay-animation{
    animation: remove-overlay 0.75s linear forwards;
    animation-delay: 4.5s;
}
.hey-there-none{
    color: #fff;
    opacity: 0;
    font-size: 1.5em;
    white-space: nowrap;
}
.PortFolio-Loader-Logo-Text,.Portfolio-Loader,.PortFolio-Loader-Logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.opacity-none{
    animation: remove-overlay 0.5s linear forwards;
}
.opacity-full{
    animation: remove-overlay 0.75s linear forwards reverse;
}
.PortFolio-Loader-Logo {
    width: 140px;
    height: 140px;
    background-color: #231f20;
    border-radius: 100px;
    opacity: 0;
}
.PortFolio-Loader-Logo-animation{
    animation: fadeIn 1s linear forwards;
    animation-delay: 1s;
}
.PortFolio-Loader-Logo-increment{
    opacity: 1;
    background-color: #231f20;
    animation: bigIncr 3s ease forwards;
}
.svg-Loader-circle {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}
.svg-Loader-circle-animation{
    animation: stroke 3s cubic-bezier(0,0.6,1,0.25) forwards;
}
.PortFolio-Loader-Logo-Text{
    color: #000;
    font-size: 2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.PortFolio-Loader-Logo-Text-animation{
    animation: white-color 0.75s linear forwards;
    animation-delay: 1s;
}
@keyframes stroke {
    0%{opacity: 0;}
    5%{opacity: 1;}
    100% {stroke-dashoffset: 400;}
}
@keyframes fadeIn {
    100% {opacity: 1;}
}
@keyframes white-color {
    to{color: #fff;}
}
@keyframes remove-overlay {
    0%{opacity: 1;}
    100%{opacity: 0;}
}
@keyframes bigIncr {
    to{transform: scale(60);}
}